@model CleanArch.Application.ViewModels.ProductViewModel

@{
	ViewData["Title"] = "Register new Product";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<hr/>
	</div>
</form>